In [2]:
import time

from pyspark import SparkContext, SparkConf
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType, DoubleType

In [3]:
conf = SparkConf()
conf.setMaster('local[*]')
conf.set('spark.executor.memory', '15G')
conf.set('spark.driver.memory', '15G')
conf.setAppName("hw41")
sc = SparkContext(conf=conf)
spark = SparkSession(sc)
spark

In [6]:
# Read in the ratings csv
ratings = spark.read.option("header", "true").csv('../data/ml-20m/ratings.csv')
ratings = ratings.withColumn('userId', F.col('userId').cast(IntegerType()))
ratings = ratings.withColumn('movieId', F.col('movieId').cast(IntegerType()))
ratings = ratings.withColumn('rating', F.col('rating').cast(DoubleType()))

In [7]:
ratings = ratings.select("userId", "movieId", "rating")
ratings.limit(10).toPandas()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5
5       1      112     3.5
6       1      151     4.0
7       1      223     4.0
8       1      253     4.0
9       1      260     4.0

In [8]:
rank = 4  # number of features
als_model = ALS(itemCol='movieId',
                userCol='userId',
                ratingCol='rating',
                nonnegative=True,
                rank=rank)

In [9]:
print("Total dataset: ", ratings.count())
ratings = ratings.limit(1000) # total dataset is 20000263
trainTest = ratings.randomSplit([0.8, 0.2])

trainingDF = trainTest[0]
testDF = trainTest[1]

Total dataset:  20000263

In [10]:
time_start = time.time()
# Run cross-validation, and choose the best set of parameters.
als_model = als_model.fit(trainingDF)

# Make predictions on test documents. cvModel uses the best model found (lrModel).
test_prediction = als_model.transform(testDF)
# test_prediction.cache()
time_end = time.time()
print("ALS predictions are done!")
print("took ", time_end - time_start, " seconds for cross validation")
test_prediction.toPandas()

ALS predictions are done!
took  3.0781431198120117  seconds for cross validation

     userId  movieId  rating  prediction
0         2     3918     3.0         NaN
1         9     4519     2.0         NaN
2        10     1721     4.0    3.624052
3         8      296     5.0    3.727760
4         7     3062     3.0         NaN
..      ...      ...     ...         ...
191       1     2140     4.0    3.153115
192       5      788     3.0    3.824775
193       1     7164     3.5         NaN
194       1     1217     3.5         NaN
195       2     2454     4.0         NaN

[196 rows x 4 columns]

In [11]:
total = test_prediction.count()
test_prediction_with_na = test_prediction
test_prediction = test_prediction.na.drop()
non_na = test_prediction.count()
print("Total predictions: ", total, ", non-Nan predictions: ", non_na)
test_prediction.toPandas()

Total predictions:  196 , non-Nan predictions:  81

    userId  movieId  rating  prediction
0       10     1721     4.0    3.624052
1        8      296     5.0    3.727760
2        3      593     5.0    2.696532
3        1     1259     4.0    4.007985
4        7     1259     3.0    3.688163
..     ...      ...     ...         ...
76       3     1097     5.0    4.273137
77       7     1097     4.0    3.753689
78       3     2118     5.0    3.518396
79       1     2140     4.0    3.153115
80       5      788     3.0    3.824775

[81 rows x 4 columns]

In [12]:
rmse_evaluator = RegressionEvaluator(
    predictionCol="prediction",
    labelCol="rating",
    metricName="rmse")
score = rmse_evaluator.evaluate(test_prediction)
print("RMSE: ", score)

RMSE:  1.2268532211989127

In [13]:
mae_evaluator = RegressionEvaluator(
    predictionCol="prediction",
    labelCol="rating",
    metricName="mae")
print("MAE: ", mae_evaluator.evaluate(test_prediction))

MAE:  0.9564313314579151

In [14]:
mse_evaluator = RegressionEvaluator(
    predictionCol="prediction",
    labelCol="rating",
    metricName="mse")
print("MSE: ", mse_evaluator.evaluate(test_prediction))

MSE:  1.505168826366148

Item-Item collaborative filtering
The idea here is to find a set of movies similar to a given movie, 
and rate the given movie based on how those similar movies have been rated by the user.

In [15]:
import math
import time
from statistics import mean

import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
def get_Matrix(data):
    unique_users = data.userId.unique()
    unique_movies = data.movieId.unique()
    utility_matrix = {}
    for user in unique_users:
        # np array of len()
        col = dict.fromkeys(unique_movies, 0)
        this_user = data[data.userId == user]
        if not this_user.empty:
            for movieID in this_user.movieId:
                # instead of this put the actual ratings in
                rating = this_user[this_user.movieId == movieID].rating.iloc[0]
                if math.isnan(rating):
                    rating = 0
                col[movieID] = rating
        utility_matrix[user] = col

    return pd.DataFrame(utility_matrix)

In [50]:
train_df = get_Matrix(ratings.toPandas())
item_item_index = train_df.index
item_similarity = cosine_similarity(train_df)
item_similarity = pd.DataFrame(item_similarity)
item_similarity.index = item_item_index
item_similarity.columns = item_item_index

k = 10
test_data = testDF.toPandas()
item_item_collaborative_labels = []
for x in test_data[:].iterrows():
    userID = x[1]['userId']
    movieID = x[1]['movieId']
    # taking only those k users that have rated the movie
    this_item_distances = item_similarity[movieID]
    sorted_distances = this_item_distances.sort_values(ascending=False)[1:]
    # get the ratings by this user
    this_user = train_df[userID]

    ratings_this_user_this_movie = []
    for key in sorted_distances.keys():
        if len(ratings_this_user_this_movie) >= k:
            break
        this_user_this_movie = this_user[key]
        if this_user_this_movie > 0:
            ratings_this_user_this_movie.append(this_user_this_movie)
    item_rating = mean(ratings_this_user_this_movie)
    item_item_collaborative_labels.append(np.float16(item_rating))
test_data['prediction-item-item-cf'] = item_item_collaborative_labels
prediction_total = test_data.merge(test_prediction_with_na.toPandas(), on=['userId', 'movieId', 'rating'])
prediction_total['avg_prediction'] = prediction_total[['prediction-item-item-cf', 'prediction']].mean(axis=1)
prediction_total

,userId,movieId,rating,prediction-item-item-cf,prediction,avg_prediction
0,1,29,3.5,3.900391,NaN,3.900391
1,1,50,3.5,3.849609,3.941394,3.895502
2,1,318,4.0,3.949219,3.749924,3.849571
3,1,919,3.5,3.849609,3.153115,3.501362
4,1,924,3.5,3.849609,3.420195,3.634902
...,...,...,...,...,...,...
191,10,1721,4.0,3.900391,3.624052,3.762221
192,10,3062,4.0,3.800781,NaN,3.800781
193,10,3107,3.0,3.699219,NaN,3.699219
194,11,260,5.0,4.300781,5.162322,4.731551
195,11,500,4.5,4.148438,4.481883,4.315160

In [34]:
# Function to compute Item-Item-CF using Spark
def item_item_cf(x, item_similarity, train_df):
    userID = x[0]
    movieID = x[1]
    
    # taking only those k users that have rated the movie
    this_item_distances = item_similarity[movieID]
    sorted_distances = this_item_distances.sort_values(ascending=False)[1:]
    
    # get the ratings by this user
    this_user = train_df[userID]

    ratings_this_user_this_movie = []
    for key in sorted_distances.keys():
        if len(ratings_this_user_this_movie) >= k:
            break
        this_user_this_movie = this_user[key]
        if this_user_this_movie > 0:
            ratings_this_user_this_movie.append(this_user_this_movie)
    item_rating = mean(ratings_this_user_this_movie)
    
    return item_rating

In [65]:
# Spark Implementation for Item-Item CF
train_df = get_Matrix(ratings.toPandas())
item_item_index = train_df.index
item_similarity = cosine_similarity(train_df)
item_similarity = pd.DataFrame(item_similarity)
item_similarity.index = item_item_index
item_similarity.columns = item_item_index

k = 10
test_data = testDF.rdd.map(tuple)
item_item_results = test_data.map(lambda x: (x[0], x[1], x[2], float(item_item_cf(x, item_similarity, train_df))))
item_item_results.collect()

[(1, 29, 3.5, 3.9),
 (1, 50, 3.5, 3.85),
 (1, 318, 4.0, 3.95),
 (1, 919, 3.5, 3.85),
 (1, 924, 3.5, 3.85),
 (1, 1196, 4.5, 3.95),
 (1, 1217, 3.5, 3.9),
 (1, 1246, 3.5, 3.9),
 (1, 1258, 4.0, 3.9),
 (1, 1259, 4.0, 4.0),
 (1, 1266, 4.0, 3.9),
 (1, 1291, 3.5, 3.85),
 (1, 1370, 3.0, 3.9),
 (1, 1750, 3.5, 3.9),
 (1, 1994, 3.5, 3.9),
 (1, 2140, 4.0, 3.75),
 (1, 2143, 4.0, 3.9),
 (1, 2173, 4.0, 3.9),
 (1, 2683, 3.5, 3.95),
 (1, 2692, 3.5, 3.9),
 (1, 2762, 4.0, 3.85),
 (1, 2918, 3.5, 3.85),
 (1, 2959, 4.0, 3.75),
 (1, 3438, 3.5, 3.9),
 (1, 4027, 4.0, 3.9),
 (1, 4226, 3.5, 3.9),
 (1, 4446, 3.5, 3.9),
 (1, 4571, 4.0, 3.9),
 (1, 4720, 3.5, 3.9),
 (1, 5026, 4.0, 3.9),
 (1, 5540, 4.0, 3.9),
 (1, 5898, 3.5, 3.9),
 (1, 7153, 5.0, 3.9),
 (1, 7164, 3.5, 3.9),
 (1, 7389, 4.0, 3.9),
 (1, 7757, 4.0, 3.9),
 (1, 8690, 3.5, 3.9),
 (1, 31696, 4.0, 3.9),
 (2, 908, 4.0, 4.2),
 (2, 1327, 5.0, 2.9),
 (2, 1970, 2.0, 2.9),
 (2, 1971, 2.0, 2.9),
 (2, 2454, 4.0, 2.9),
 (2, 2455, 4.0, 4.3),
 (2, 3534, 3.0, 2.9),
 (2, 3703, 4.0, 2.9),
 (2, 3918, 3.0, 2.9),
 (2, 3937, 4.0, 2.9),
 (2, 3959, 5.0, 3.8),
 (3, 24, 3.0, 3.9),
 (3, 175, 5.0, 3.9),
 (3, 440, 3.0, 4.2),
 (3, 480, 5.0, 4.4),
 (3, 589, 4.0, 4.8),
 (3, 593, 5.0, 4.8),
 (3, 718, 3.0, 3.9),
 (3, 904, 5.0, 3.9),
 (3, 924, 5.0, 4.8),
 (3, 968, 3.0, 3.9),
 (3, 1089, 5.0, 5.0),
 (3, 1097, 5.0, 4.4),
 (3, 1129, 5.0, 3.9),
 (3, 1188, 2.0, 3.9),
 (3, 1197, 5.0, 3.9),
 (3, 1210, 5.0, 4.5),
 (3, 1213, 5.0, 3.9),
 (3, 1242, 5.0, 4.6),
 (3, 1258, 5.0, 4.8),
 (3, 1374, 5.0, 4.8),
 (3, 1653, 4.0, 3.9),
 (3, 1779, 3.0, 3.9),
 (3, 1876, 4.0, 3.9),
 (3, 2009, 5.0, 3.9),
 (3, 2046, 5.0, 3.9),
 (3, 2054, 4.0, 3.9),
 (3, 2118, 5.0, 4.8),
 (3, 2236, 4.0, 3.9),
 (3, 2288, 5.0, 4.8),
 (3, 2428, 4.0, 3.9),
 (3, 2530, 4.0, 3.9),
 (3, 2571, 5.0, 3.9),
 (3, 2574, 3.0, 3.9),
 (3, 2628, 5.0, 5.0),
 (3, 2694, 4.0, 3.9),
 (3, 2791, 5.0, 4.6),
 (3, 2900, 3.0, 3.9),
 (3, 2947, 4.0, 4.7),
 (3, 2949, 4.0, 3.9),
 (3, 2986, 2.0, 3.9),
 (4, 32, 1.0, 3.5),
 (4, 350, 4.0, 3.9),
 (4, 370, 4.0, 3.9),
 (4, 440, 3.0, 3.9),
 (4, 531, 3.0, 3.8),
 (4, 596, 4.0, 3.7),
 (5, 11, 5.0, 4.9),
 (5, 62, 5.0, 3.9),
 (5, 224, 2.0, 3.7),
 (5, 316, 4.0, 4.4),
 (5, 350, 4.0, 4.9),
 (5, 454, 5.0, 4.8),
 (5, 608, 3.0, 3.7),
 (5, 708, 3.0, 4.0),
 (5, 788, 3.0, 4.2),
 (5, 1036, 5.0, 4.5),
 (5, 1073, 2.0, 4.5),
 (6, 140, 4.0, 3.8),
 (6, 494, 4.0, 3.9),
 (6, 802, 3.0, 3.9),
 (7, 151, 3.0, 4.0),
 (7, 348, 4.0, 3.3),
 (7, 356, 4.0, 3.5),
 (7, 357, 3.0, 3.6),
 (7, 425, 3.0, 3.3),
 (7, 440, 4.0, 3.9),
 (7, 539, 4.0, 3.4),
 (7, 589, 5.0, 4.1),
 (7, 750, 5.0, 3.3),
 (7, 806, 1.0, 3.3),
 (7, 912, 5.0, 4.1),
 (7, 928, 3.0, 3.3),
 (7, 932, 3.0, 3.3),
 (7, 1097, 4.0, 4.0),
 (7, 1183, 3.0, 3.3),
 (7, 1259, 3.0, 4.1),
 (7, 1272, 4.0, 3.9),
 (7, 1307, 3.0, 3.2),
 (7, 1573, 3.0, 3.3),
 (7, 1617, 3.0, 3.3),
 (7, 1777, 4.0, 3.3),
 (7, 2080, 4.0, 3.3),
 (7, 2108, 3.0, 3.3),
 (7, 2125, 3.0, 3.3),
 (7, 2266, 2.0, 3.3),
 (7, 2297, 3.0, 3.3),
 (7, 2384, 3.0, 3.8),
 (7, 2396, 3.0, 3.3),
 (7, 2405, 4.0, 3.3),
 (7, 2407, 4.0, 3.9),
 (7, 2478, 2.0, 3.3),
 (7, 2498, 2.0, 3.3),
 (7, 2535, 3.0, 3.3),
 (7, 2628, 4.0, 3.0),
 (7, 2640, 4.0, 3.9),
 (7, 2654, 4.0, 3.3),
 (7, 2683, 3.0, 4.1),
 (7, 2694, 3.0, 3.2),
 (7, 2722, 3.0, 3.1),
 (7, 2762, 5.0, 3.8),
 (7, 2858, 3.0, 3.4),
 (7, 2987, 4.0, 3.3),
 (7, 3004, 2.0, 3.3),
 (7, 3062, 3.0, 3.8),
 (7, 3103, 2.0, 3.3),
 (7, 3194, 4.0, 3.3),
 (7, 3469, 4.0, 3.3),
 (7, 3510, 4.0, 3.3),
 (7, 3671, 4.0, 3.3),
 (7, 3701, 3.0, 3.3),
 (7, 3793, 4.0, 3.3),
 (7, 3827, 3.0, 3.3),
 (7, 3987, 4.0, 3.3),
 (7, 4018, 3.0, 3.3),
 (7, 4062, 3.0, 3.3),
 (7, 4270, 3.0, 3.3),
 (7, 4661, 2.0, 3.3),
 (7, 4736, 3.0, 3.3),
 (7, 4874, 4.0, 3.3),
 (8, 6, 3.0, 3.8),
 (8, 19, 1.0, 3.1),
 (8, 185, 2.0, 3.0),
 (8, 236, 4.0, 3.9),
 (8, 296, 5.0, 3.3),
 (8, 344, 3.0, 2.9),
 (8, 349, 5.0, 3.9),
 (8, 367, 3.0, 3.7),
 (8, 442, 4.0, 2.8),
 (8, 508, 3.0, 4.0),
 (8, 527, 5.0, 4.0),
 (8, 550, 4.0, 3.9),
 (8, 551, 4.0, 3.9),
 (8, 553, 5.0, 3.8),
 (8, 587, 4.0, 4.0),
 (9, 1219, 3.0, 3.4),
 (9, 1923, 4.0, 2.7),
 (9, 2688, 3.0, 2.7),
 (9, 2722, 2.0, 3.5),
 (9, 2840, 3.0, 2.7),
 (9, 4148, 5.0, 2.7),
 (9, 4519, 2.0, 2.7),
 (10, 1204, 3.0, 3.7),
 (10, 1721, 4.0, 3.9),
 (10, 3062, 4.0, 3.8),
 (10, 3107, 3.0, 3.7),
 (11, 260, 5.0, 4.3),
 (11, 500, 4.5, 4.15)]

In [66]:
# Convert to DataFrame
from pyspark.sql.types import IntegerType, StructType, StructField, FloatType
schema = StructType([StructField('userId', IntegerType(), True), 
                     StructField('movieId', IntegerType(), True), 
                     StructField('rating', FloatType(), True),
                     StructField('prediction', FloatType(), True)])
item_item_results_df = spark.createDataFrame(item_item_results, schema)

In [67]:
item_item_results_df.show()

+------+-------+------+----------+
|userId|movieId|rating|prediction|
+------+-------+------+----------+
|     1|     29|   3.5|       3.9|
|     1|     50|   3.5|      3.85|
|     1|    318|   4.0|      3.95|
|     1|    919|   3.5|      3.85|
|     1|    924|   3.5|      3.85|
|     1|   1196|   4.5|      3.95|
|     1|   1217|   3.5|       3.9|
|     1|   1246|   3.5|       3.9|
|     1|   1258|   4.0|       3.9|
|     1|   1259|   4.0|       4.0|
|     1|   1266|   4.0|       3.9|
|     1|   1291|   3.5|      3.85|
|     1|   1370|   3.0|       3.9|
|     1|   1750|   3.5|       3.9|
|     1|   1994|   3.5|       3.9|
|     1|   2140|   4.0|      3.75|
|     1|   2143|   4.0|       3.9|
|     1|   2173|   4.0|       3.9|
|     1|   2683|   3.5|      3.95|
|     1|   2692|   3.5|       3.9|
+------+-------+------+----------+
only showing top 20 rows